@* <!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Create A Mab Libs!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
<body>
    <h1 class="pt-5">Mad Libs Story</h1>
    <div>
        <p>Did you ever have one of those @Model.NounOne? Well today @Model.PersonOne did! Mom wanted to</p>
        <p>@Model.VerbOne @Model.NounTwo up for @Model.Holiday. Not just any lights, @Model.ColorOne lights.</p>
        <p>@Model.AdjectiveOne @Model.ColorTwo lights! @Model.AdjectiveTwo bright red lights. The only problem,</p>
        <p>they are a @Model.VerbTwo-ed mess! Not to mention that there are some @Model.Vegetable, yellow</p>
        <p>and greem lights @Model.VerbThree-ed in. "@Model.PersonTwo!" I yell. "This can't be done!" She could</p>
        <p>@Model.VerbFour I was right and went out and @Model.VerbFive some new shiny @Model.VerbFive lights!</p>
    </div>
    <h5>THE MERRY END</h5>
</body>
</html> *@